<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coba Deploy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello world!</h1>
    <p>Disini kita akan deploy aplikasi pertama kita ke vercel!</p>
    <p>Ini halaman index kita!</p>
</body>
</html>